{% extends "base.html" %}

{% block content %}
<head>
	<title>Interactive Altair Chart</title>
</head>

<body>
	<form action="/data_visualizations" method="post">
		<label for="name">Name:</label>
		<input type="text" id="name" name="name" placeholder="Enter Name" required>
	
		<label for="gender">Gender:</label>
		<select id="gender" name="gender" required>
			<option value="">Please select</option>
			<option value="m">Boy</option>
			<option value="f">Girl</option>
		</select>
	
		<label for="start_year">Start Year:</label>
		<input type="number" id="start_year" name="start_year" min="1880" max="2022" placeholder="1880" required>
	
		<label for="end_year">End Year:</label>
		<input type="number" id="end_year" name="end_year" min="1880" max="2022" placeholder="2022" required>
	
		<input type="submit" value="Generate Chart">
	</form>

	<!-- Container for the visualization -->
	{% if input_data and chart_json and chart_json2 %}
	<h2>Displaying visualizations for {{ input_data[0] }} between {{ input_data[1] }}-{{input_data[2]}}</h2>
	<div id="viz1"></div>
	<div id="viz2"></div>
	{% endif %}


	<script type="text/javascript">
		// TODO: fix errors
		var chart_spec = {{ chart_json | safe }};
		vegaEmbed('#viz1', chart_spec);

		// 2nd viz
		var chart_spec2 = {{ chart_json2 | safe }};
		vegaEmbed('#viz2', chart_spec2);
	</script>
</body>
{% endblock %}