{% extends "base.html" %}

{% block content %}
	<form action="/data_visualizations" method="post">
		<label for="name">Name:</label>
		<input type="text" id="name" name="name" placeholder="Enter Name" required>
	
		<label for="gender">Gender:</label>
		<select id="gender" name="gender" required>
			<option value="">Please select</option>
			<option value="m">Boy</option>
			<option value="f">Girl</option>
		</select>
	
		<label for="start_year">Start Year:</label>
		<input type="number" id="start_year" name="start_year" min="1880" max="2022" placeholder="1880" required>
	
		<label for="end_year">End Year:</label>
		<input type="number" id="end_year" name="end_year" min="1880" max="2022" placeholder="2022" required>
	
		<input type="submit" value="Generate Chart">
	</form>

	{% if chart_json != '{}' and chart_json2 != '{}' %}
    <h2>Displaying visualizations for {{ request.form['name'].capitalize() }} between {{ request.form['start_year'] }}-{{ request.form['end_year'] }}</h2>
    <div id="viz1"></div>
    <div id="viz2"></div>

    {% block scripts %}
    <script type="text/javascript">
		var chartSpecJson = {{ chart_json | safe }};
		var chartSpec2Json = {{ chart_json2 | safe }};

		// check if chart jsons are empty
		if (chartSpecJson && JSON.stringify(chartSpecJson) !== '{}') {
			var chart_spec = chartSpecJson;
			vegaEmbed('#viz1', chart_spec);
		}

		if (chartSpec2Json && JSON.stringify(chartSpec2Json) !== '{}') {
			var chart_spec2 = chartSpec2Json;
			vegaEmbed('#viz2', chart_spec2);
		}
    </script>
    {% endblock %}
    {% endif %}
{% endblock %}