<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Baby Name Analysis</title>
</head>

<body>
  <h1>Welcome to the Baby Name Analysis App!</h1>

  <!-- Popularity Form -->
  <h2>Check Name Popularity</h2>
  <form action="/popularity">
    <input type="submit" value="Check Popularity">
  </form>

  <!-- Random Name Generator -->
  <h2>Generate a Random Name</h2>
  <form action="/random_name">
    <input type="submit" value="Generate">
  </form>

  <!-- Name Information -->
  <h2>Get Name Information</h2>
  <form action="/name_information">
    <input type="submit" value="Get Information">
  </form>
</body>

</html>