<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Name App</title>
</head>

<body>
  <h1>Welcome to the Name App!</h1>

  <!-- Random Name Generator -->
  <h2>Generate a Random Name</h2>
  <form action="/random_name">
    <input type="submit" value="Generate">
  </form>

  <!-- Name Information -->
  <h2>Get Name Information</h2>
  <form action="/name_information">
    <input type="submit" value="Get Information">
  </form>

  <!-- TO DO -->
  <h2>make vizs</h2>
  <form action="/data_visualizations">
    <input type="submit" value="Get Information">
  </form>
</body>

</html>