{% extends "base.html" %}

{% block content %}
    <h2>Get Information for a Name</h2>
    <form action="/name_information" method="post">
      <input type="text" name="name" placeholder="Name" required />
      <select name="gender" required>
        <option value="">Please select</option>
        <option value="boy">Boy</option>
        <option value="girl">Girl</option>
      </select>
      <input type="submit" value="Get Information" />
    </form>

    <!-- Check if inputs have been passed to the template -->

    {% if texts and world_map_json != '{}' %}
      <h2>Name Information for '{{ request.form['name'].capitalize() }}'</h2>
      <ul>
        {% for text in texts %}
        <li>{{ text }}</li>
        {% endfor %}
      </ul>

      <!-- TODO: Spotify integration
      {% for key, value in spotify_data.items()  %}
      <div> {{ key }}: {{ value }} </div>
      {% endfor %}
      -->

      <!-- Container for the visualization -->
      <div id="world_map"></div>

      {% block scripts %}
        <script type="text/javascript">
          var worldMapJson = {{ world_map_json | safe }};

          if (worldMapJson && JSON.stringify(worldMapJson) !== '{}') {
            var chart_spec = worldMapJson;
            vegaEmbed('#world_map', chart_spec);
          }
        </script>
      {% endblock %}
    {% endif %}    
{% endblock %}